{% extends 'index.html' %}

{% block codelearn %}
<br>
<div >
  
    <div class="codelearn">
        <table class="table">
            
            <tbody>
              {% for x in obj %}
              <tr>
                <h5>{{x.title}} </h5>
                <p>{{x.description}}</p>
              </tr>
              <hr>
              {% endfor %}
              
              
            
            </tbody>
          </table>
    </div>
    {% comment %} <div class="d-flex" style="height: 200px;">
      <div class="vr"></div>
    </div> {% endcomment %}
</div>



{% endblock  %}