{% extends 'index.html' %}

{% block contestproblem_content %}

<div class="problem">
    <div class="card w-75" >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><a  href="{% url 'contestenter' id %}" class="text-black">Problems</a></th>
                    {% comment %} <th scope="col"><a href="#" class="text-black">SUBMIT CODE</a></th> {% endcomment %}
                    <th scope="col"><a href="{% url 'contestusersubmission' id "contestprb" %}" class="text-black">My Submission</a></th>
                    <th scope="col"><a href="" class="text-black">Status</a></th>
                    <th scope="col"><a href="" class="text-black">Standing</a></th>
                    <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                    <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                   <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                    <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                    <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                    <th scope="col">&nbsp;&nbsp;&nbsp;</th>
                    <th scope="col">&nbsp;&nbsp;&nbsp;</th> 
          
                  </tr>
                </thead>
                
              </table>
              {% comment %} <hr> {% endcomment %}
              <div class="card-body">
               
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <th scope="col">Tag</th>
                      <th scope="col">Difficulty</th>
                      <th scope="col"></th>
      
                    </tr>
                  </thead>
                    <tbody>
                      {% for x in obj %}
              
                      <tr>
                          <th scope="row"><a href="{% url 'solve' x.id "contestprb" %}">
                              <span>{{x.id}}</span>
                          </a></th>
                          <td><a href="{% url 'solve' x.id "contestprb" %}">
                              <span>{{x.title}}</span>
                          </a></td>
                         
                          <td>
                              <span>{{x.tags}}</span>
                          </td>
                          <td>{{x.difficulty}}</td>
                          <td><i class="bi bi-person-fill"></i></td>
                          
                        </tr>
          {% endfor %}
                      
                    </tbody>
                    
                  </table>
                      
            </div>
        
        
        
        
    </div>
</div>
{% endblock  %}