{% extends 'index.html' %}

{% block discuss %}

<div class="discuss">

  <br>
  <br>
  <br>
  <div class="card w-75" >
      <div class="card-header">
        {% comment %} Discuss {% endcomment %}
        

          <tr><strong>Discuss</strong></tr>
          <button type="button" class="btn btn-outline-dark" style="margin-left:820px;"><a href="{% url 'adddiscuss' %}" class="text-black text-decoration-none">New&nbsp;+</a></button>
            <!-- Discuss -->
          
      
         
          
        
        
      </div>
      {% for x in obj %}
      <div class="card-body">
        <div class="card-body">
          <h5 class="card-title">{{x.title}}</h5>
          <p class="card-text">{{x.description}}</p>

        </div>
      </div>
      <hr>
      {% endfor %}
      
      
    </div>
</div>


{% endblock  %}
