{% extends 'index.html' %}



{% block solve_content %}
<div class="solve_prb">
  <div class="card m-5 " id="sol"style="width: 50rem">
    <table class="table">
      <thead>
        <tr>
          {% if param1 == "practice" %}
          <th scope="col"><a  href="{% url 'problem'%}" class="text-black">PROBLEMS</a></th>
          {% else %}
          <th scope="col"><a  href="{% url 'contestenter' contestid%}" class="text-black">PROBLEMS</a></th>
          {% endif %}
          {% if param1 == "practice" %}
          <th scope="col"><a href="{% url 'submit' id "practice" %}" class="text-black">SUBMIT CODE</a></th>
          {% else %}
          <th scope="col"><a href="{% url 'submit' id "contestprb" %}" class="text-black">SUBMIT CODE</a></th>
          {% endif %}
          
          {% if param1 == "practice" %}
          <th scope="col"><a href="{% url 'usersubmission' "practice"  %}" class="text-black">MY SUBMISSION</a></th>
          {% else %}
          <th scope="col"><a href="{% url 'contestusersubmission' contestid "contestprb" %}" class="text-black">MY SUBMISSION</a></th>
          {% endif %}
          
          <th scope="col"><a href="" class="text-black">STATUS</a></th>
          <th scope="col"><a href="" class="text-black">STANDING</a></th>
          <th scope="col">&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">&nbsp;&nbsp;&nbsp;</th>

        </tr>
      </thead>
      
    </table>
      <br>
    <div class="card-body">
       {% for x in problem %}
       <h3 class="text-center">{{x.id}} . {{x.title}}</h3>
        <h5 class="text-center"><pre>{{x.compexity}}</pre></h5>
       <br>
       <br>
       <p class="">{{x.description}}</p>

        <br>
        <h4>Example</h4>
        <div class="card">
            <div class="card-body">
             <h5>Input</h5>
             <hr>
             <pre>{{ip1}}</pre>
             <hr>
             <h5>Output</h5>
             <hr>
             <pre>{{op1}}</pre>
             </div>
          </div>
      {% endfor %}
        

    </div>
</div>

</div>


{% endblock  %}