
{% extends 'index.html' %}

{% block state_content %}
<div class="state_content">
<div class="card m-5 " id="sol"style="width: 60rem">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            {% if param1 == "practice" %}
            <a class="navbar-brand" href="{% url 'problem'%}"><strong>Problems</strong></a>
          {% else %}
          <a class="navbar-brand" href="{% url 'contestenter' contestid %}"><strong>Problems</strong></a>
          {% endif %}
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if param1 == "practice" %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'usersubmission' "practice"  %}"><strong> My Submission</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-current="page" href="#">Submit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Status</a>
              </li>
              {% else %}
               <th scope="col"><a href="{% url 'contestusersubmission' contestid "contestprb" %}" class="text-black">My Submission</a></th>
              {% endif %}
              
              
            </ul>
            
          </div>
        </div>
      </nav>
      <br>
   
    <div class="card-body">
       
        <table class="table">
            <thead>
              <tr>
                {% comment %} after some time code will be in this link {% endcomment %}
                <th scope="col">#</th>    
                <th scope="col">When</th>
                <th scope="col">Who</th>
                <th scope="col">Problem</th>
                <th scope="col">Lang</th>
                <th scope="col">Verdict</th>
                <th scope="col">Time</th>
                <th scope="col">Memory</th>
                

              </tr>
            </thead>
            <tbody>
              <tr>
                
                <th scope="row">{{id}}</th>
                <td>{{timeofsub}}</td>
                <td>{{username}}</td>
                <td><a href="#">{{title}}</a></td>
                
                
                
                <td>{{language}}</td>
                
                 {% if verdict == "Accepted" %}
                <td class="text-success fw-bold" >{{verdict}}</td>
                {% else %}
                <td class="text-danger fw-bold" >{{verdict}}</td>
                {% endif %} 
                <td>{{timetaken}}</td>
                <td>{{memorytaken}}</td>
              </tr>
              
            </tbody>
          </table>
              
    </div>
</div>
</div>
{% endblock  %}