
{% extends 'index.html' %}

{% block user_sub %}

<div class="card m-5 " id="sol"style="width: 50rem">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">PROBLEMS</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">SUBMIT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">STATUS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">MY SUBMISSION</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <br>
   
    <div class="card-body">
       
        <table class="table">
            <thead>
              <tr>
                {% comment %} after some time code will be in this link {% endcomment %}
                <th scope="col">#</th>    
                <th scope="col">When</th>
                <th scope="col">Who</th>
                {% if param1 == "practice" %}
                <th scope="col"><a  href="{% url 'problem'%}" class="text-black">Problem</a></th>
                {% else %}
                <th scope="col"><a  href="{% url 'contestenter' contestid %}" class="text-black">Problem</a></th>
                {% endif %}
               
                <th scope="col">Lang</th>
                <th scope="col">Verdict</th>
                <th scope="col">Time</th>
                <th scope="col">Memory</th>
                

              </tr>
            </thead>
            <tbody>
             
              {% for x  in usersub %}

              <tr>
  
                <th scope="row">{{x.id}}</th>
                <td>{{x.timestamp}}</td>
                <td>{{x.user_detail.user_detail_name}}</td>
                {% if param1 == "practice" %}
                <td><a href=" {% url 'solve' x.cproblem.id "practice" %} ">{{x.cproblem.title}}</a></td>
                {% else %}
                <td><a href=" {% url 'solve' x.cproblem.id "contestprb" %} ">{{x.cproblem.title}}</a></td>
                {% endif %}
                
                
                
                
                <td>{{x.language}}</td>
                {% if x.verdict == "Accepted" %}
                <td class="text-success fw-bold" >{{x.verdict}}</td>
                {% else %}
                <td class="text-danger fw-bold" >{{x.verdict}}</td>
                {% endif %}
                
                <td>{{x.timetaken}}</td>
                <td>{{x.memorytaken}}</td>

               
                
              </tr>
                {% endfor %}
              
              
            </tbody>
          </table>
              
    </div>
</div>

{% endblock  %}